.Footer {
    height: 120px;
    background-color: #ffffff;
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.Footer__wrapper {
    margin:auto 100px auto 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.Footer__logo {

 }

.Footer__links {
    font-size: 18px;
    margin-right: -305px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 395px;
}
.Footer__links__link {
    color: rgb(0, 77, 155);
}

.Footer__social {
    display: flex;
    justify-content: space-between;
    width: 160px;
}
